[Desktop Entry]
Version=1.12.0
Name=ClassiPod
Comment=An iPod Classic-inspired local music player with playlists, cover art, and shuffle mode and dark mode support
Exec=classipod
Icon=${SNAP}/meta/gui/classipod.png
Terminal=false
Type=Application
Categories=AudioVideo;Audio;Player;Music;
Keywords=music;player;audio;ipod;local;songs;offline;
StartupWMClass=classipod
